<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foxit PDF SDK For Web - examples</title>
</head>
<body>
    <script>
        (function(){
            var LICENSE_KEY_PATH = '<%=htmlWebpackPlugin.options.licensePath%>?' + Date.now().toString(16);
            document.write('<script src="'+LICENSE_KEY_PATH+'"><\/script>');
        })()
    </script>
    <script src="<%=htmlWebpackPlugin.options.UIExtensionLib%>"></script>
</body>
</html>