@primary-color: #1890ff; // primary color for all components
@link-color: #1890ff; // link color
@success-color: #52c41a; // success state color
@warning-color: #faad14; // warning state color
@error-color: #f5222d; // error state color
@font-size-base: 14px; // major text font size
@heading-color: rgb(108 42 110); // heading text color
@text-color: rgba(0, 0, 0, 0.65); // major text color
@text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
@disabled-color: rgba(0, 0, 0, 0.25); // disable state color
@border-radius-base: 2px; // major border radius
@border-color-base: #d9d9d9; // major border color
@box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 9px 28px 8px rgba(0, 0, 0, 0.05); // major shadow for layers
@dark-bg-color: #f0f2f5;

#app {
    height: 100%;
}


.fv__catalog-app-sider {
    background: @dark-bg-color;
    border-right: @border-color-base;
    overflow-y: scroll;
}

    .ant-layout-header {
        background-color: @heading-color;
    }

.fv__catalog-app-body {
    height: 100%;
}

.fv__catalog-app-previewer {
    border: none;
    width: 100%;
    height: 100vh;
}